body {
  margin:0px;
}



.jumbotron {
  background-image:url("the-flatiron-building.png");
  color:white;
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  height:200px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav {
 display:flex;
 background-color: 	#F5F5F5;
 font-family: Helvetica;
 padding:10px;
}


.navsub.a{
  width:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.navsub.b{
  width:50%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}



.navsub ul{
  margin-right: 20px;
}

.navsub li {
  margin-right:10px;
}



.nav a {
  text-decoration: none;
}

.nav li {
  display:inline;

}
